<h1><%= @student.to_s %></h1>

<form>
  <label>Student Form</label><br>
  <input type="text" id="student_first_name" name="student[first_name]"><br>

  <label>Post description:</label><br>
  <textarea id="post_description" name="post[description]"></textarea><br>

  <input type="submit" value="Submit Post">
</form>

<%= params.inspect %>
