<h1><%= @student.to_s %></h1>

<%= form_tag new_student_path do %>
  <label>Student Form</label><br>
  <input type="text" id="student_first_name" name="student[first_name]"><br>

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Submit Student">
</form>

<%= params.inspect %>
